<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>h1y Store - CMS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/resources/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/resources/admin/css/checkout.css" rel="stylesheet">
	<script src="/resources/admin/js/bootstrap.bundle.min.js"></script>
	<link rel="icon" type="image/x-icon" href="/resources/img/favicon.ico" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js" /></script>
<style>
	.red {
		color: #C90000;
		padding-left: 3px;
	}
</style>
</head>
<body class="bg-body-tertiary">
	<div class="container">
		<main>
			<div class="py-5 text-center">
				<h2>관리자 회원가입</h2>
			</div>
			<div class="row g-5" style="padding-left: 27%;">
				<div class="col-md-7 col-lg-8">
					<form class="needs-validation" method="post" th:object="${adminForm}">
						<div class="row g-3">
							<div class="col-12">
								<label for="admId" class="form-label">ID<span class="red">*</span></label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" th:field="*{admId}" placeholder="ID">
									<div class="validation-div" th:if="${#fields.hasErrors('admId')}" th:errors="*{admId}"></div>
								</div>
							</div>
							<div class="col-12">
								<label for="admPassword" class="form-label">비밀번호<span class="red">*</span></label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" th:field="*{admPassword}" placeholder="Password">
									<div class="validation-div" th:if="${#fields.hasErrors('admPassword')}" th:errors="*{admPassword}">Your username is required.</div>
								</div>
							</div>
							<div class="col-12">
								<label for="admPasswordCheck" class="form-label">비밀번호 확인<span class="red">*</span></label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" th:field="*{admPasswordCheck}" placeholder="Password Check">
									<div class="validation-div" th:if="${#fields.hasErrors('admPasswordCheck')}" th:errors="*{admPasswordCheck}">Your username is required.</div>
								</div>
							</div>
							<div class="col-12">
								<label for="admName" class="form-label">이름<span class="red">*</span></label>
								<div class="input-group has-validation">
									<input type="text" class="form-control" th:field="*{admName}" placeholder="Username">
									<div class="validation-div" th:if="${#fields.hasErrors('admName')}" th:errors="*{admName}">Your username is required.</div>
								</div>
							</div>

							<div class="col-12">
								<label for="email" class="form-label">이메일<span class="red">*</span></label>
								<input type="email" class="form-control" th:field="*{email}" placeholder="you@example.com">
								<div class="validation-div" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Please enter a valid email address for shipping updates.</div>
							</div>
							<div class="col-12">
								<label for="address" class="form-label">주소<span class="red">*</span></label> 
								<!-- <input type="text" class="form-control" th:field="*{address}" onclick="openZipSearch();" readonly> -->
								<div class="input-group">
									<input type="text" class="form-control" th:field="*{address}" readonly>
									<button type="button" onclick="openZipSearch();" class="btn btn-secondary">주소찾기</button>
								</div>
								<div class="validation-div" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Please enter your shipping address.</div>
								<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
								<script>
									function openZipSearch() {
									    new daum.Postcode({
									    	oncomplete: function(data) {     
											var addr = ''; 
											if (data.userSelectedType === 'R') { 
												addr = data.roadAddress;
											} else {
												addr = data.jibunAddress;
											}
											
											$("#zipcode").val(data.zonecode);
											$("#address").val(addr);
											$("#adrsDet").val("");
											$("#adrsDet").focus();
									        }
									    }).open();
									}
								</script>
							</div>
							
							<div class="col-sm-6">
								<label for="adrsDet" class="form-label">상세주소</label>
								<!-- <span class="text-body-secondary">(Optional)</span> -->
								<input type="text" class="form-control" th:field="*{adrsDet}">
								<div class="validation-div" th:if="${#fields.hasErrors('adrsDet')}" th:errors="*{adrsDet}">
									Valid first name is required.
								</div>
							</div>
							
							<div class="col-sm-6">
								<label for="zipcode" class="form-label">우편번호<span class="red">*</span></label>
								<input type="text" class="form-control" th:field="*{zipcode}" readonly>
								<div class="validation-div" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Valid first name is required.</div>
							</div>
						</div>
						<hr class="my-4">
						<button class="w-100 btn btn-primary btn-lg" type="submit">작성완료</button>
						<hr class="my-4">
					</form>
				</div>
			</div>
		</main>
	</div>
</body>
</html>
