<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/include/header :: header}"></head>
<link href="/resources/admin/css/sign-in.css" rel="stylesheet">
<body class="d-flex align-items-center py-4 bg-body-tertiary">
	<main class="form-signin w-100 m-auto">
		<form method="post" action="/adm/login">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput" autocomplete="false">
				<label for="floatingInput">ID</label>
			</div>
			<div class="form-floating" style="margin-top: 5px;">
				<input type="password" class="form-control" id="floatingPassword" autocomplete="new-password">
				<label for="floatingPassword">Password</label>
			</div>
			<!-- <div class="form-check text-start my-3">
				<input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
				<label class="form-check-label" for="flexCheckDefault">Remember me</label>
			</div> -->
			<button class="btn btn-primary w-100 py-2" onclick="javascript:;">Sign in</button>
		</form>
			<button class="btn btn-success w-100 py-2" onclick="location.href='/adm/join';" style="margin-top: 5px;">Join</button>
			<p class="mt-5 mb-3 text-body-secondary">© h1y cms</p>
	</main>
</body>
</html>
