<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/include/header :: header}"></head>
<body>
	<main class="d-flex flex-nowrap">
		<!-- sidebar -->
		<div th:replace="~{admin/include/sidebar :: sidebar}"></div>
		<div class="b-example-divider b-example-vr"></div>
		<div class="my-5">
			<div class="p-5 text-center bg-body-tertiary">
				<div class="container py-5">
					<h1 class="text-body-emphasis">Full-width jumbotron</h1>
					<p class="col-lg-8 mx-auto lead">
						This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
					</p>
				</div>
			</div>
		</div>
		
	</main>
	
</body>
</html>
