<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<title>h1y Store - CMS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/resources/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/resources/admin/css/sidebars.css" rel="stylesheet">
	<link href="/resources/admin/css/checkout.css" rel="stylesheet">
	<script src="/resources/admin/js/bootstrap.bundle.min.js"></script>
	<link rel="icon" type="image/x-icon" href="/resources/img/favicon.ico" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js" /></script>
</head>