<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/include/header :: header"></head>
<body id="page-top">
    <!-- Navigation-->
    <nav th:replace="user/include/navigation :: navigation"></nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    <span class="text-primary">H W Y</span>
                    Portfolio store
                </h1>
                <div class="subheading mb-5">
                    I will become a steadily growing · Back End · developer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="mailto:h-1-y@naver.com">h-1-y@naver.com</a>
                </div>
                <p class="lead mb-5"></p>
                <div class="social-icons">
                    <a class="social-icon" href="https://github.com/h-1-y?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://www.linkedin.com/in/h1y" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://www.facebook.com/han1dragon" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content"  style="margin: 60px 60px 0px 0px;">
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="contact__address">
                        <img src="/resources/img/profile.png" style="margin: 30px; width: 500px;">
                    </div>
                </div>
            </div>
            <div class="resume-section-content">
                <h2 class="mb-5">Profile</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="contact__address">
                    <ul>
                            <li>
                                <h6 class="profileTitle">Name</h6>
                                <p>한원용 (Han Won Yong)</p>
                            </li>
                            <li>
                                <h6 class="profileTitle">Date of Birt</h6>
                                <p><span>January, 18, 1994</span></p>
                            </li>
                            <li>
                                <h6 class="profileTitle">Phone</h6>
                                <p>010 - 4434 - 5212</p>
                            </li>
                            <li>
                                <h6 class="profileTitle">E-mail</h6>
                                <p>h-1-y@naver.com</p>
                            </li>
                            <li>
                                <h6 class="profileTitle">Hobby</h6>
                                <p>Singing &nbsp;&nbsp;&nbsp;Piano &nbsp;&nbsp;&nbsp;Guitar &nbsp;&nbsp;&nbsp;Shopping &nbsp;&nbsp;&nbsp;Drive</p>
                            </li>
                            <li>
                                <h6 class="profileTitle">Education</h6>
                                <p>- 하남고등학교 졸업</p>
                                <p>- 동서울대학교 컴퓨터정보과 졸업</p>
                                <p>- 자바 기반 응용 S/W 웹 개발자 6개월 과정 수료</p>
                                <p>- 큐브에이(웹 에이전시) 근무 : 2021/01 ~ 2024/01 ( 3년 )</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <p class="skilltitle">Back - End</p>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/java.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/jsp.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/spring.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/mybatis.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/ajax.jpg"></li>
                    <hr class="skilliconhr">
                </ul>
                <p class="skilltitle">Front - End</p>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/html.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/css.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/js.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/jquery.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/bootstrap.jpg"></li>
                    <hr class="skilliconhr">
                </ul>
                <p class="skilltitle">DataBase</p>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/oracle.jpg"></li>
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/mysql.jpg"></li>
                    <hr class="skilliconhr">
                </ul>
                <p class="skilltitle">Server</p>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><img class="skillicon" src="/resources/img/tomcat.jpg"></li>
                </ul>
                <!--<div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Browser Testing & Debugging
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Functional Teams
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                </ul>-->
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Portfolio</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">jsp Web Shopping Mall</h3>
                        <br>
                        <div class="subheading mb-3" style="font-size: 16px;">
                            제작목적 : 처음 접하는 웹 개발의 과정과 흐름을 이해하며 학습 및 복습<br>
                            총원 : 5명<br>
                            역할 : 상품 리뷰 게시판, Q & A 게시판 겸 프로젝트 팀장
                        </div>
                        <p><a href="https://github.com/h-1-y/JSP-Team-Project" target="_blank">Github Source</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="download/JSP%20Project%20%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4%20(%ED%95%9C%EC%9B%90%EC%9A%A9).pdf" download>PDF Download</a></p>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2020-07-28 ~
                            2020-08-03 (7 Day)</span></div>
                </div>

                <div class="for_slick_slider">
                    <div class="items">
                        <a href="/resources/img/jsp1.png" data-lightbox="jsp" data-title="Home">
                            <img src="/resources/img/jsp1.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp2.png" data-lightbox="jsp" data-title="About">
                            <img src="/resources/img/jsp2.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp3.png" data-lightbox="jsp" data-title="Review List">
                            <img src="/resources/img/jsp3.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp4.png" data-lightbox="jsp" data-title="Review Content">
                            <img src="/resources/img/jsp4.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp5.png" data-lightbox="jsp" data-title="Add Review">
                            <img src="/resources/img/jsp5.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp6.png" data-lightbox="jsp" data-title="QnA List">
                            <img src="/resources/img/jsp6.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp7.png" data-lightbox="jsp" data-title="QnA Password">
                            <img src="/resources/img/jsp7.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/jsp8.png" data-lightbox="jsp" data-title="Add QnA">
                            <img src="/resources/img/jsp8.png">
                        </a>
                    </div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Spring Web Shopping Mall (SONSOO)</h3>
                        <br>
                        <div class="subheading mb-3" style="font-size: 16px;">
                            제작목적 : Spring Framework를 배우고 활용하며, 현업의 업무에 적용하여 사용할 수 있도록<br>
                            기술을 습득하고, 웹 개발 경험 및 지식을 축적<br>
                            총원 : 6명<br>
                            역할 : 리뷰 게시판, 리뷰 댓글, 쪽지, 관리자 차트 페이지, 프로젝트 팀장
                        </div>
                        <p>
                            <a href="https://github.com/h-1-y/Spring-Team-Project-SONSOO" target="_blank">Github Source</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="download/Spring%20Project%20%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4%20(%ED%95%9C%EC%9B%90%EC%9A%A9).pdf" download>PDF Download</a>
                        </p>
                        <br>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2020-08-31 ~
                            2020-10-02 (33 Day)</span></div>
                </div>
                <div class="for_slick_slider">
                    <div class="items">
                        <a href="/resources/img/sonsoo1.png" data-lightbox="sonsoo" data-title="Home">
                            <img src="/resources/img/sonsoo1.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo2.png" data-lightbox="sonsoo" data-title="Review List & Add">
                            <img src="/resources/img/sonsoo2.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo3.png" data-lightbox="sonsoo" data-title="Details Review">
                            <img src="/resources/img/sonsoo3.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo4.png" data-lightbox="sonsoo" data-title="Update Review">
                            <img src="/resources/img/sonsoo4.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo5.png" data-lightbox="sonsoo" data-title="Add Message">
                            <img src="/resources/img/sonsoo5.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo6.png" data-lightbox="sonsoo" data-title="Message List">
                            <img src="/resources/img/sonsoo6.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo7.png" data-lightbox="sonsoo" data-title="Message Content">
                            <img src="/resources/img/sonsoo7.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo8.png" data-lightbox="sonsoo" data-title="Send Message">
                            <img src="/resources/img/sonsoo8.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo9.png" data-lightbox="sonsoo" data-title="unread Message">
                            <img src="/resources/img/sonsoo9.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo10.png" data-lightbox="sonsoo" data-title="Sales Chart">
                            <img src="/resources/img/sonsoo10.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo11.png" data-lightbox="sonsoo" data-title="Member Chart">
                            <img src="/resources/img/sonsoo11.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo12.png" data-lightbox="sonsoo" data-title="Shipping Chart">
                            <img src="/resources/img/sonsoo12.png">
                        </a>
                    </div>
                    <div class="items">
                        <a href="/resources/img/sonsoo13.png" data-lightbox="sonsoo" data-title="Member Details">
                            <img src="/resources/img/sonsoo13.png">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
                <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
            </div>
        </section>-->
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="/resources/js/scripts.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/resources/js/slick.min.js"></script>
    <script>
        $(function() {
            $('.for_slick_slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 5000,
                dots: false
            });
        });
    </script>
    <script src="/resources/js/lightbox.js"></script>


</body>
</html>